In [2]:
def compileQuery(query, vars):
    repl = {}
    for var in vars:
        repl["{$" + str(var) + "}"] = vars[var]
    qc = query
    for match in repl:
        qc = qc.replace(match, repl[match])
    return str(qc)

def getCSVOutputCommand(query, filename):
    return "USE sqlrest_baselearners;\n\n" + query + "\nINTO OUTFILE '" + filename + "'       FIELDS TERMINATED BY ';' ENCLOSED BY '\"' LINES TERMINATED BY '\\n';"

# Queries for Atomic Algorithm Performances

In [3]:
from commons import *

In [3]:
queries = {
    "progressquery": "SELECT '{$ALGORITHM}' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), \"%\") as \"open (rel)\", running, CONCAT(ROUND(100 * running / total, 2), \"%\") as \"running (rel)\", finished, CONCAT(ROUND(100 * finished / total, 2), \"%\") as \"finished (rel)\", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), \"%\") as \"success rate\", CONCAT(ROUND(avgRuntimeFinished), \"s\") as \"Average Time of Finished\", CONCAT(ROUND(avgRuntimeFinished * open / running), \"s\") as \"ETA\" FROM (SELECT \"aux\" as pk, COUNT(*) as \"open\" FROM `evaluations_classifiers_{$ALGORITHM}` WHERE time_started is null) as t1 NATURAL JOIN (SELECT \"aux\" as pk, COUNT(*) as \"running\" FROM `evaluations_classifiers_{$ALGORITHM}` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT \"aux\" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_{$ALGORITHM}` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT \"aux\" as pk, COUNT(*) as successful FROM `evaluations_classifiers_{$ALGORITHM}` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT \"aux\" as pk, COUNT(*) as failed FROM `evaluations_classifiers_{$ALGORITHM}` where exception is not null) as t5 NATURAL JOIN (SELECT \"aux\" as pk, COUNT(*) as total FROM `evaluations_classifiers_{$ALGORITHM}`) as t6",
    "basicresults_default": "SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, '{$ALGORITHM}' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, \"\\n\", \"\\\\n\"), \"\\\"\", \"\") as exception FROM `evaluations_classifiers_{$ALGORITHM}` where time_end is not null",
    "basicresults_parametrized": "SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, '{$ALGORITHM}' as classifier, algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, \"\\n\", \"\\\\n\"), \"\\\"\", \"\") as exception FROM `evaluations_classifiers_{$ALGORITHM}_configured` where time_end is not null"
}

In [4]:
jointQuery = "\nUNION\n".join([compileQuery(queries["progressquery"], {"ALGORITHM": a }) for a in classifiers])
print(jointQuery)

SELECT 'bayesnet' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_bayesnet` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_bayesnet` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_bayesnet` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_bayesnet` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_bayesnet` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_bayesnet`) as t6
UNION
SELECT 'decisionstump' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_decisionstump` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_decisionstump` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_decisionstump` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_decisionstump` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_decisionstump` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_decisionstump`) as t6
UNION
SELECT 'decisiontable' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_decisiontable` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_decisiontable` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_decisiontable` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_decisiontable` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_decisiontable` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_decisiontable`) as t6
UNION
SELECT 'ibk' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_ibk` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_ibk` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_ibk` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_ibk` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_ibk` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_ibk`) as t6
UNION
SELECT 'j48' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_j48` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_j48` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_j48` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_j48` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_j48` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_j48`) as t6
UNION
SELECT 'jrip' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_jrip` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_jrip` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_jrip` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_jrip` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_jrip` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_jrip`) as t6
UNION
SELECT 'kstar' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_kstar` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_kstar` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_kstar` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_kstar` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_kstar` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_kstar`) as t6
UNION
SELECT 'lmt' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_lmt` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_lmt` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_lmt` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_lmt` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_lmt` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_lmt`) as t6
UNION
SELECT 'logistic' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_logistic` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_logistic` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_logistic` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_logistic` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_logistic` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_logistic`) as t6
UNION
SELECT 'multilayerperceptron' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_multilayerperceptron` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_multilayerperceptron` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_multilayerperceptron` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_multilayerperceptron` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_multilayerperceptron` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_multilayerperceptron`) as t6
UNION
SELECT 'naivebayes' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_naivebayes` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_naivebayes` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_naivebayes` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_naivebayes` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_naivebayes` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_naivebayes`) as t6
UNION
SELECT 'naivebayesmultinomial' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_naivebayesmultinomial` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_naivebayesmultinomial` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_naivebayesmultinomial` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_naivebayesmultinomial` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_naivebayesmultinomial` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_naivebayesmultinomial`) as t6
UNION
SELECT 'oner' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_oner` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_oner` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_oner` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_oner` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_oner` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_oner`) as t6
UNION
SELECT 'part' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_part` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_part` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_part` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_part` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_part` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_part`) as t6
UNION

In [5]:
jointQuery = "\nUNION\n".join([compileQuery(queries["progressquery"], {"ALGORITHM": a + "_configured"}) for a in classifiers if a not in ["decisionstump", "kstar", "naivebayesmultinomial", "zeror"]])
print(jointQuery)

SELECT 'bayesnet_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_bayesnet_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_bayesnet_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_bayesnet_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_bayesnet_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_bayesnet_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_bayesnet_configured`) as t6
UNION
SELECT 'decisiontable_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_decisiontable_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_decisiontable_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_decisiontable_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_decisiontable_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_decisiontable_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_decisiontable_configured`) as t6
UNION
SELECT 'ibk_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_ibk_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_ibk_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_ibk_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_ibk_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_ibk_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_ibk_configured`) as t6
UNION
SELECT 'j48_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_j48_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_j48_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_j48_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_j48_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_j48_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_j48_configured`) as t6
UNION
SELECT 'jrip_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_jrip_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_jrip_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_jrip_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_jrip_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_jrip_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_jrip_configured`) as t6
UNION
SELECT 'lmt_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_lmt_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_lmt_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_lmt_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_lmt_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_lmt_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_lmt_configured`) as t6
UNION
SELECT 'logistic_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_logistic_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_logistic_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_logistic_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_logistic_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_logistic_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_logistic_configured`) as t6
UNION
SELECT 'multilayerperceptron_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_multilayerperceptron_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_multilayerperceptron_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_multilayerperceptron_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_multilayerperceptron_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_multilayerperceptron_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_multilayerperceptron_configured`) as t6
UNION
SELECT 'naivebayes_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_naivebayes_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_naivebayes_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_naivebayes_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_naivebayes_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_naivebayes_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_naivebayes_configured`) as t6
UNION
SELECT 'oner_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_oner_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_oner_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_oner_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_oner_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_oner_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_oner_configured`) as t6
UNION
SELECT 'part_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_part_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_part_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_part_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_part_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_part_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_part_configured`) as t6
UNION
SELECT 'reptree_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_reptree_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_reptree_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_reptree_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_reptree_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_reptree_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_reptree_configured`) as t6
UNION
SELECT 'randomforest_configured' as algorithm, total, open, CONCAT(ROUND(100 * open / total, 2), "%") as "open (rel)", running, CONCAT(ROUND(100 * running / total, 2), "%") as "running (rel)", finished, CONCAT(ROUND(100 * finished / total, 2), "%") as "finished (rel)", successful, failed, CONCAT(ROUND(100 * successful / (successful + failed), 2), "%") as "success rate", CONCAT(ROUND(avgRuntimeFinished), "s") as "Average Time of Finished", CONCAT(ROUND(avgRuntimeFinished * open / running), "s") as "ETA" FROM (SELECT "aux" as pk, COUNT(*) as "open" FROM `evaluations_classifiers_randomforest_configured` WHERE time_started is null) as t1 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as "running" FROM `evaluations_classifiers_randomforest_configured` WHERE time_started is not null and time_end is null) as t2 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as finished, AVG(TIMESTAMPDIFF(SECOND, time_started, time_end)) as avgRuntimeFinished  FROM `evaluations_classifiers_randomforest_configured` WHERE time_started is not null and time_end is not null) as t3 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as successful FROM `evaluations_classifiers_randomforest_configured` where time_end is not null and exception is null) as t4 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as failed FROM `evaluations_classifiers_randomforest_configured` where exception is not null) as t5 NATURAL JOIN (SELECT "aux" as pk, COUNT(*) as total FROM `evaluations_classifiers_randomforest_configured`) as t6
UNION

In [16]:
df = pd.DataFrame({'a': [1, 2] * 3,

                   'b': [True, False] * 3,

                   'c': [1.0, 2.0] * 3,
                   'd': [6, 9] * 3})

class_attribute = 'b'
len(df.drop(columns=[class_attribute]).select_dtypes(include='number').columns) == len(df.columns) - 1

True

In [6]:
jointQuery = "\nUNION\n".join([compileQuery(queries["basicresults_default"], {"ALGORITHM": a}) for a in classifiers])
print(getCSVOutputCommand(jointQuery, "classifierresults-default.csv"))

USE sqlrest_baselearners;

SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'bayesnet' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_bayesnet` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'decisionstump' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_decisionstump` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'decisiontable' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_decisiontable` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'ibk' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_ibk` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'j48' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_j48` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'jrip' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_jrip` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'kstar' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_kstar` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'lmt' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_lmt` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'logistic' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_logistic` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'multilayerperceptron' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_multilayerperceptron` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'naivebayes' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_naivebayes` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'naivebayesmultinomial' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_naivebayesmultinomial` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'oner' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_oner` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'part' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_part` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'reptree' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_reptree` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'randomforest' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_randomforest` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'randomtree' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_randomtree` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'simplelogistic' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_simplelogistic` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'smo' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_smo` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'votedperceptron' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_votedperceptron` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'zeror' as classifier, '' as algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_zeror` where time_end is not null
INTO OUTFILE 'classifierresults-default.csv'       FIELDS TERMINATED BY ';' ENCLOSED BY '"' LINES TERMINATED BY '\n';

In [6]:
jointQuery = "\nUNION\n".join([compileQuery(queries["basicresults_parametrized"], {"ALGORITHM": a}) for a in classifiers if not a in ["decisionstump", "kstar", "naivebayesmultinomial", "zero"] and a in ["bayesnet", "decisiontable", "ibk", "j48", "jrip"]])
print(getCSVOutputCommand(jointQuery, "classifierresults-parametrized.csv"))

USE sqlrest_baselearners;

SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'bayesnet' as classifier, algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_bayesnet_configured` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'decisiontable' as classifier, algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_decisiontable_configured` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'ibk' as classifier, algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_ibk_configured` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'j48' as classifier, algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_j48_configured` where time_end is not null
UNION
SELECT openmlid, datapoints + predictedinstances as totalsize, datapoints as fitsize, attributes as fitattributes, predictedinstances as applicationsize, seed, 'jrip' as classifier, algorithmoptions, numattributes, numberofcategories, numericattributesafterbinarization, numlabels, numnumericattributes, numsymbolicattributes, attributestocover50pctvariance, attributestocover90pctvariance, attributestocover95pctvariance, attributestocover99pctvariance, totalvariance, traintimeinms as fittime, timeforpredictionsinms as applicationtime, stdinpredictiontimeminms, replace(replace(exception, "\n", "\\n"), "\"", "") as exception FROM `evaluations_classifiers_jrip_configured` where time_end is not null
INTO OUTFILE 'classifierresults-parametrized.csv'       FIELDS TERMINATED BY ';' ENCLOSED BY '"' LINES TERMINATED BY '\n';

# Queries for Results of ML-Plan

In [2]:
def compileQuery(query, to, mode):
    repl = {
        '{$T_EVAL}': VARS[to][mode]["eval"],
        '{$T_JOBS}': VARS[to][mode]["jobs"],
        '{$TARGET}': mode
    }
    qc = queries[query]
    for match in repl:
        qc = qc.replace(match, repl[match])
    return str(qc)

def compileJoin(query, to):
    q1 = compileQuery(query, to, "vanilla")
    q2 = compileQuery(query, to, "guarded")
    return "SELECT * FROM (" + q1 + ") as t1 JOIN (" + q2 + ") as t2 USING(dataset)"

In [8]:
VARS = {
    '1h': {
        'vanilla': {
            'eval': 'cont_eval_mlplan_1h',
            'jobs': 'cont_jobs_mlplan_1h'
        },
        'guarded': {
            'eval': 'cont_eval_mlplan_safeguard_1h',
            'jobs': 'cont_jobs_mlplan_safeguard_1h',
        } 
    },
    '1d': {
        'vanilla': {
            'eval': 'cont_eval_mlplan_24h',
            'jobs': 'cont_jobs_mlplan_24h'
        },
        'guarded': {
            'eval': 'cont_eval_mlplan_safeguard_24h',
            'jobs': 'cont_jobs_mlplan_safeguard_24h',
        } 
    }
}

In [27]:
queries = {
    "avgSuccessCounts": 'SELECT dataset, avg(n) as n_{$TARGET}, std(n) as std_{$TARGET} FROM (SELECT experiment_id, COUNT(*) as n FROM `{$T_EVAL}` WHERE status = "success" AND thread LIKE "%worker%" GROUP by experiment_id) as t natural join {$T_JOBS}  WHERE time_end IS NOT NULL group by dataset',
    "avgSuccessCountsPerThread": 'SELECT dataset, avg(n) as n_{$TARGET} FROM (SELECT experiment_id, COUNT(*) as n FROM `{$T_EVAL}` WHERE status = "success" AND thread LIKE "%worker%" GROUP by experiment_id, thread) as t natural join {$T_JOBS}  WHERE time_end IS NOT NULL group by dataset',
    "avgSuccessTimes": 'SELECT dataset, avg(successtime) as t_{$TARGET} FROM (SELECT experiment_id, dataset, sum(actualFitTime+ actualPredictTime) as successtime FROM `{$T_EVAL}` natural join {$T_JOBS} WHERE time_end IS NOT NULL AND result IS NOT NULL AND status = "success" GROUP BY experiment_id) as t GROUP BY dataset',
    "avgSuccessTimesPerThread": 'SELECT dataset, AVG(successtime) as t_{$TARGET} FROM( SELECT experiment_id, thread, dataset, sum(actualFitTime+ actualPredictTime) * 5 as successtime FROM {$T_EVAL} natural join {$T_JOBS} WHERE time_end IS NOT NULL AND result IS NOT NULL AND status = "success" and thread LIKE "%worker%" GROUP BY experiment_id, thread) as t2 GROUP BY dataset',
    "avgTimeouts": 'SELECT * FROM (SELECT dataset, avg(timeoutedevaluations) as timeouts_{$TARGET} FROM (SELECT experiment_id, COUNT(*) as timeoutedevaluations FROM `{$T_EVAL}` WHERE status = "timeout" and actualFitTime + actualPredictTime > 60 AND thread LIKE "%worker%" GROUP BY experiment_id) as t NATURAL JOIN {$T_JOBS} WHERE time_end IS NOT NULL group by dataset) as t2',
    "avgAvoidances": 'SELECT dataset, avg(n) as n_{$TARGET} FROM (SELECT experiment_id, COUNT(*) as n FROM `{$T_EVAL}` WHERE status = "safeguard" GROUP by experiment_id) as t natural join {$T_JOBS}  WHERE time_end IS NOT NULL group by dataset',
    "avgWorkerTime": 'SELECT  dataset, avg(avgworktime) FROM (SELECT experiment_id, dataset, avg(worktime) as avgworktime FROM (SELECT experiment_id, dataset, thread, round((MAX(timestamp_found) - min(timestamp_found)) / 1000) as worktime FROM `{$T_EVAL}` natural join {$T_JOBS} where thread LIKE "%worker%" GROUP BY experiment_id, thread) as t group by experiment_id) as t2 group by dataset'
}

# Run Analysis Queries

In [28]:
print(compileJoin("avgSuccessCounts", "1h"))

SELECT * FROM (SELECT dataset, avg(n) as n_vanilla, std(n) as std_vanilla FROM (SELECT experiment_id, COUNT(*) as n FROM `cont_eval_mlplan_1h` WHERE status = "success" AND thread LIKE "%worker%" GROUP by experiment_id) as t natural join cont_jobs_mlplan_1h  WHERE time_end IS NOT NULL group by dataset) as t1 JOIN (SELECT dataset, avg(n) as n_guarded, std(n) as std_guarded FROM (SELECT experiment_id, COUNT(*) as n FROM `cont_eval_mlplan_safeguard_1h` WHERE status = "success" AND thread LIKE "%worker%" GROUP by experiment_id) as t natural join cont_jobs_mlplan_safeguard_1h  WHERE time_end IS NOT NULL group by dataset) as t2 USING(dataset)

In [11]:
print(compileJoin("avgSuccessTimes", "1d"))

SELECT * FROM (SELECT dataset, avg(successtime) as t_vanilla FROM (SELECT experiment_id, dataset, sum(actualFitTime+ actualPredictTime) as successtime FROM `cont_eval_mlplan_24h` natural join cont_jobs_mlplan_24h WHERE time_end IS NOT NULL AND result IS NOT NULL AND status = "success" GROUP BY experiment_id) as t GROUP BY dataset) as t1 JOIN (SELECT dataset, avg(successtime) as t_guarded FROM (SELECT experiment_id, dataset, sum(actualFitTime+ actualPredictTime) as successtime FROM `cont_eval_mlplan_safeguard_24h` natural join cont_jobs_mlplan_safeguard_24h WHERE time_end IS NOT NULL AND result IS NOT NULL AND status = "success" GROUP BY experiment_id) as t GROUP BY dataset) as t2 USING(dataset)

In [6]:
print(compileJoin("avgWorkerTime", "1h"))

SELECT * FROM (SELECT  dataset, avg(avgworktime) FROM (SELECT experiment_id, dataset, avg(worktime) as avgworktime FROM (SELECT experiment_id, dataset, thread, round((MAX(timestamp_found) - min(timestamp_found)) / 1000) as worktime FROM `cont_eval_mlplan_1h` natural join cont_jobs_mlplan_1h where thread LIKE "%worker%" GROUP BY experiment_id, thread) as t group by experiment_id) as t2 group by dataset) as t1 JOIN (SELECT  dataset, avg(avgworktime) FROM (SELECT experiment_id, dataset, avg(worktime) as avgworktime FROM (SELECT experiment_id, dataset, thread, round((MAX(timestamp_found) - min(timestamp_found)) / 1000) as worktime FROM `cont_eval_mlplan_safeguard_1h` natural join cont_jobs_mlplan_safeguard_1h where thread LIKE "%worker%" GROUP BY experiment_id, thread) as t group by experiment_id) as t2 group by dataset) as t2 USING(dataset)

# Relevant Queries for Final Results

## Number of Avoided Executions

In [55]:
def getQueryForAvgAvoidances(to):
       return compileQuery("avgAvoidances", to, "guarded")

In [56]:
print(getQueryForAvgAvoidances("1h"))

SELECT dataset, avg(n) as n_guarded FROM (SELECT experiment_id, COUNT(*) as n FROM `cont_eval_mlplan_safeguard_1h` WHERE status = "safeguard" GROUP by experiment_id) as t natural join cont_jobs_mlplan_safeguard_1h  WHERE time_end IS NOT NULL group by dataset

## Number of Timeouts Per Run

In [47]:
def getQueryForAvgTimeouts(to):
       return compileJoin("avgTimeouts", to)

In [48]:
print(getQueryForAvgTimeouts("1h"))

SELECT * FROM (SELECT * FROM (SELECT dataset, avg(timeoutedevaluations) as timeouts_vanilla FROM (SELECT experiment_id, COUNT(*) as timeoutedevaluations FROM `cont_eval_mlplan_1h` WHERE status = "timeout" and actualFitTime + actualPredictTime > 60 AND thread LIKE "%worker%" GROUP BY experiment_id) as t NATURAL JOIN cont_jobs_mlplan_1h WHERE time_end IS NOT NULL group by dataset) as t2) as t1 JOIN (SELECT * FROM (SELECT dataset, avg(timeoutedevaluations) as timeouts_guarded FROM (SELECT experiment_id, COUNT(*) as timeoutedevaluations FROM `cont_eval_mlplan_safeguard_1h` WHERE status = "timeout" and actualFitTime + actualPredictTime > 60 AND thread LIKE "%worker%" GROUP BY experiment_id) as t NATURAL JOIN cont_jobs_mlplan_safeguard_1h WHERE time_end IS NOT NULL group by dataset) as t2) as t2 USING(dataset)

## Number of Successful Executions Per Run

In [45]:
def getQueryForAvgSuccess(to):
       return compileJoin("avgSuccess", to)

In [46]:
print(getQueryForAvgSuccess("1h"))

SELECT * FROM (SELECT dataset, avg(n) as n_vanilla FROM (SELECT experiment_id, COUNT(*) as n FROM `cont_eval_mlplan_1h` WHERE status = "success" GROUP by experiment_id) as t natural join cont_jobs_mlplan_1h  WHERE time_end IS NOT NULL group by dataset) as t1 JOIN (SELECT dataset, avg(n) as n_guarded FROM (SELECT experiment_id, COUNT(*) as n FROM `cont_eval_mlplan_safeguard_1h` WHERE status = "success" GROUP by experiment_id) as t natural join cont_jobs_mlplan_safeguard_1h  WHERE time_end IS NOT NULL group by dataset) as t2 USING(dataset)

In [61]:
print(compileQuery("avgSuccess", "1h", "guarded"))

SELECT dataset, avg(n) as n_guarded FROM (SELECT experiment_id, COUNT(*) as n FROM `cont_eval_mlplan_safeguard_1h` WHERE status = "success" GROUP by experiment_id) as t natural join cont_jobs_mlplan_safeguard_1h  WHERE time_end IS NOT NULL group by dataset

## Number of Executions Grouped by Type

In [ ]:
SELECT dataset, status, avg(c)  FROM (SELECT experiment_id, status, count(*) as c FROM `cont_eval_mlplan_1h` GROUP BY experiment_id, status) as t natural join cont_jobs_mlplan_1h group by dataset, status

## Avg Time Spent in Executions of different Status

## Avg time used by the workers

In [ ]:
SELECT dataset, avg(worktime) FROM (SELECT experiment_id, dataset, thread, round((MAX(timestamp_found) - min(timestamp_found)) / 1000) as worktime FROM `cont_eval_mlplan_safeguard_1h` natural join cont_jobs_mlplan_safeguard_1h where thread LIKE "%worker%" GROUP BY experiment_id, thread) as t GROUP BY dataset

## Get experiments with avg worker time < x

In [ ]:
SELECT experiment_id, dataset, avgworktime FROM (SELECT experiment_id, dataset, avg(worktime) as avgworktime FROM (SELECT experiment_id, dataset, thread, round((MAX(timestamp_found) - min(timestamp_found)) / 1000) as worktime FROM `cont_eval_mlplan_safeguard_1h` natural join cont_jobs_mlplan_safeguard_1h where thread LIKE "%worker%" GROUP BY experiment_id, thread) as t group by experiment_id) as t2 WHERE avgworktime < 2500